/config.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_25_01_2023_20_18_[Changes]/shelved.patch
/.idea/telegram_bot.iml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_25_01_2023_20_18__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_25_01_2023_20_18_[Changes]/shelved.patch
